<div class="popup-container">
<form (ngSubmit)="onSubmit()">
    MRN:154875
    Membrane: <input ng-model="membrane"><br>
    Dilatation: <input ng-model="dilatation"><br>
    PDS:<input ng-model="PDS"><br>
    Hemmorhage:<input ng-model="hemmorhage"><br>
    G:<input ng-model="g"> P:<input ng-model="p">
    Effacement:<input ng-model="effacement">
    <button>Submit</button>
    <!-- bootstrap form -->
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Membrane:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3 xs">
        <label for="formGroupExampleInput2" class="form-label">Dilatation:</label>
        <input type="text" class="form-control form-control-xl" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>

</form>
</div>

